.bx--data-table-header__description {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: 0;
}

@media (min-width: 1024px) {
  .bx--data-table,
  .bx--data-table--no-border {
    overflow-x: auto;
    padding: 1rem;
  }

  .bx--data-table-content {
    padding: 1rem;
  }

  .bx--form-item {
    padding: 1rem;
  }
}
