.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
}

.bx--btn--primary {
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgb(94, 92, 92);
}

@media (min-width: 1024px) {
  .root {
    display: flex;
    flex-direction: row;
    padding: 3rem;
  }
  .bx--btn--primary {
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgb(94, 92, 92);
  }
}
